<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\CCIMS.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess"/>
			<validation validateIntegratedModeConfiguration="false"/>
			<modules runAllManagedModulesForAllRequests="true">
				<remove name="WebDAVModule"/>
			</modules>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*"/>
					<add name="Access-Control-Allow-Headers" value="Content-Type"/>
					<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>